.frame {
    padding: 34px 38px 24px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &>h1 {
        font-size: 28px;
        color: #161932;
    }

    & div {
        cursor: pointer;
    }
}