.title {
    font-size: 13px;
    letter-spacing: 0.38em;
    color: #161932;
}

.frame {
    display: flex;
    gap: 20px;
    margin-bottom: 24px;
}

@media screen and (max-width: 500px) {
    .title {
        text-align: center;
        font-size: 11px;
        margin-bottom: 18px;
    }

    .frame {
        flex-direction: column;
        gap: 8px;
    }
}