.container {
    width: 100%;
    height: 410px;
    background-image: linear-gradient(315deg, #2e325a 0%, #0e112a 100%);
    border-radius: 50%;
    box-shadow: 50px 50px 100px 0 #121530, -50px -50px 100px 0 #272c5a;
    padding: 22px;
    cursor: pointer;
    margin-top: 45px;
    margin-bottom: 63px;

    &:hover {
        & p {
            color: var(--color);
        }
    }
}

.frame {
    width: 100%;
    height: 100%;
    background-color: #161932;
    border-radius: 50%;
    padding: 13.5px;
}

.progress {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        content: "";
        position: absolute;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        background-color: #161932;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
    }
}

.progress_text {
    position: relative;

    & div {
        font-size: 100px;
        margin-bottom: 20px;
    }

    & p {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.94em;
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin-top: 109px;
        margin-bottom: 144px;
    }   
}

@media screen and (max-width: 500px) {
    .container {
        margin-top: 48px;
        margin-bottom: 79px;
        max-width: 300px;
        height: 300px;
        padding: 16.1px;
    }

    .frame {
        padding: 9.88px;
    }

    .progress {
    
        &::before {
            width: calc(100% - 16px);
            height: calc(100% - 16px);
        }
    }

    .progress_text {
        & div {
            font-size: 80px;
            margin-bottom: 5px;
        }
    
        & p {
            letter-spacing: 0.94em;
            font-size: 14px;
        }
    }
}